html,
body {
    height: 100%;
    margin: 0;
}

/* ============================================= LINKS ============================================= */

.link-neutro {
    color: #000;
    text-decoration: none;
}

/* ============================================= AJUSTES ============================================= */

.padding-lat-10 {
    padding-left: 10px;
    padding-right: 10px;
}

/* Área roxa */

.central {
    display: flex;
    justify-content: center;
    padding: 50px 20px;
}

/* Caixa branca */

.card-central {
    background: #fff;
    width: 90%;
    max-width: 1250px;
    min-height: 70vh;
    border-radius: 35px;
    padding: 20px;
    box-sizing: border-box;
}

/* ============================================= BORDA ============================================= */

.borda-redonda {
    border-radius: 20px;
}

/* ============================================= CORES ============================================= */

.cor-branca {
    background-color: #fff;
}

.cor-preta {
    background-color: #000;
}

.cor-roxa {
    background-color: #8e2dcf;
}
